# ssg
node_modules
.DS_Store

# sanity
*.pickle
credentials.json
token.json
.env
report.*

# dynamic stuff
build
source/_fetchdir/*

# Keys and secrets
docs/keys

#Data transfer
helpers/data-transfer/*