extends /_templates/layout.pug

block content
    div
        p
            strong TERE
        
        p.AktifoAMedium AktifoAMedium TEST1234 Test1234
        p.AktifoALight AktifoALight TEST1234 Test1234
        p.AktifoABook AktifoABook TEST1234 Test1234