/**
 * @license
 * MyFonts Webfont Build ID 4134533, 2021-08-01T07:53:50-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Aktifo-A-Light by Degarism Studio
 * URL: https://www.myfonts.com/fonts/degarism-studio/aktifo/aktifo-a-light/
 * 
 * Webfont: Aktifo-A-Book by Degarism Studio
 * URL: https://www.myfonts.com/fonts/degarism-studio/aktifo/aktifo-a-book/
 * 
 * 
 * Webfonts copyright: Copyright © 2017 by Degarism Studio™. All rights reserved.
 * 
 * © 2021 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3f1685");
@import url("//hello.myfonts.net/count/3f1683");

@font-face {
  font-family: "Aktifo-A-Book";
  src: url('assets/fonts/webFonts/AktifoABook/font.woff2') format('woff2'), url('assets/fonts/webFonts/AktifoABook/font.woff') format('woff');
}
@font-face {
  font-family: "Aktifo-A-Light";
  src: url('assets/fonts/webFonts/AktifoALight/font.woff2') format('woff2'), url('assets/fonts/webFonts/AktifoALight/font.woff') format('woff');
}
  
@font-face {
  font-family: "Aktifo-A-Medium";
  src: url('assets/fonts/webFonts/AktifoAMedium/font.woff2') format('woff2'), url('assets/fonts/webFonts/AktifoAMedium/font.woff') format('woff');
}

.AktifoAMedium {
	font-family: "Aktifo-A-Medium";
}
.AktifoALight {
	font-family: "Aktifo-A-Light";
}
.AktifoABook {
	font-family: "Aktifo-A-Book";
}

body { font-family: "Aktifo-A-Book"; }

h1, h2, h3, h4, h5 {
	font-family: "Aktifo-A-Medium";
}
